@import "bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #1E1E1E;
}
footer{
    
    background-color: #BAF266;
    margin-top: auto;
   }
.cards{
    padding: 25px;
    
}
.card-custom-height .card-img-top{
    height: 10vh;
    object-fit: cover;
}

.card-custom-width {
    width: auto;
    padding: 5px;
    border: 5px;
  }
  
.texto{
    font-size: 24px;
}

.subtitulo{
    font-size: 32px;
    text-align: center;
}

.fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
